{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block title %}User List{% endblock %}
{% block body %}

    <h2>Users</h2>

    <div class="list-group">
        {% for user in users %}
            <a href="{{ url_for('user_detail', user_id=user.id) }}" class="list-group-item list-group-item-action">{{ user.name }}</a>
        {% else %}
            <em>ユーザーが登録されていないようです...</em>
        {% endfor %}
    </div>
    {% if not session['user_id'] %}
        <a href="{{ url_for('user_create') }}">ユーザー登録する</a>
    {% endif %}
{% endblock body %}