{# _feedersever/templates/index.html #}

{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block title %}Cat Feeder{% endblock %}

{% block body %}
 	        <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <div class="blacks">
                            <h1>Cat Feeder</h1>
                            <hr>
                            <h3>This app enables you to feed your pet when you are away from home!</h3>
                        </div>
                    </div>
                </div>
 	        </div>
{% endblock body %}
