.flash{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border:1px solid #888888;
    padding:2pt;
    background-color: #ffffff;
}
.container{
    background-color: rgba(255,255,255,0.5);
}