<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    {% endblock %}


    <meta charset="UTF-8">
    <title>{%  block title %}{% endblock %}</title>
</head>
<body>
    {% include 'header.html' %}

    {% block body %}

    {% endblock %}
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>